.grid {
	display: grid;
	grid-template-columns: 1fr 1fr
 }
 
 .left{
	width:100%;
	min-height: 500px;
 }
 
 .right {
	width: 100%;
	 min-height: 500px;
	 background-color: black;
 }
 
 h3 {
	 color: #FF536F;
	 font-size: 20px;
 }
 
 .left > h1 {
	 color: #BDBDBD;
	 font-size: 100px;
	 width: 320px;
	 margin-left: auto;
	 margin-right: auto;
 }
 
 .profile {
	 width: 60px;
	 height: 60px;
	 background-color: black;
	 border-radius: 50%;
 }
 
 .ice-cream {
	 display: flex;
	 justify-content: space-between;
	 align-items: center;
	 width: 280px;
	 margin-left: auto;
	 margin-right: auto;
 }


 .characters{
  width: 100%;
  height: 400px;
  background-color: black;
}

h1{
  color: #BDBDBD;
  font-size: 60px;
  text-align: center;
}

.character{
  color: white;
}

.character div {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
}

.character h3 {
  color: #FF536F;
  font-size: 20px;
  font-weight: bold;
  text-align: center
}

.cats {
  display: flex;
  justify-content: space-around;
}

.storySection {
  padding: 20px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.storySection > h1 {
  text-align: center;
  font-size: 60px;
  font-weight: bold;
  color: #BDBDBD;
}

.storySection > p {
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
}